body {
    background-image: url('../imagenes/fondo.png');
}

canvas {
    display: flex;
    margin-top: calc(50vh - 286px);
    float: right;
}

.boton-recargar {
    margin: auto;
    display: flex;
    background: none;
    border: none;
    color: white;
    font-family: monospace;
    visibility: hidden;
}

.image {
    margin-top: calc(50vh - 286px);
    height: 13rem;
    width: auto;
    float: left
}